@media (max-width:950px) {
    #diamond ul {
        transform: rotate(90deg);
    }
}


/*DIAMOND*/

#diamond ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 300px;
}

#diamond ul li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: black;
    margin: -100px;
    overflow: hidden;
    transform: rotate(45deg);
    transition: .5s;
    opacity: .5;
    border: 1px gray solid;
    cursor: pointer;
}

#diamond ul li:hover {
    opacity: 1;
}

#diamond ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
}

@keyframes borderEffect {
    0% {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid firebrick;
        border-bottom: 5px solid firebrick;
    }
    100% {
        transform: scaleY(1);
        border-left: 5px solid dodgerblue;
        border-right: 5px solid dodgerblue;
        border-top: 5px solid firebrick;
        border-bottom: 5px solid firebrick;
        filter: blur(3px);
    }
}

#diamond ul li::after {
    border-top: 5px solid firebrick;
    border-bottom: 5px solid firebrick;
    transform: scaleX(0);
}

#diamond ul li:hover:after {
    transform: scaleX(1);
    animation: borderEffect 0.6s linear forwards;
    animation-delay: .3s;
}


/* PLACEMENT */

#diamond ul li.item:nth-child(1) {
    top: 0;
    left: 0;
}

#diamond ul li.item:nth-child(2) {
    top: 0;
    left: 50%;
    transform: rotate(45deg);
}

#diamond ul li.item:nth-child(3) {
    top: 0;
    left: 100%;
}

#diamond ul li.item:nth-child(4) {
    bottom: 50%;
    left: 25%;
}

#diamond ul li.item:nth-child(5) {
    bottom: 50%;
    left: 75%;
}

#diamond ul li.item:nth-child(6) {
    bottom: 0;
    left: 0%;
}

#diamond ul li.item:nth-child(7) {
    bottom: 0;
    left: 50%;
    background-color: white;
}

#diamond ul li.item:nth-child(8) {
    bottom: 0;
    left: 100%;
}


/* BACKGROUND */

#diamond ul li .bg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg)scale(1.3);
    /* background: url(img/1080p-HD-Japan-Wallpaper.jpg); */
    background-size: cover;
    filter: none;
    display: flex;
}

#diamond ul li.item:nth-child(1) .bg {
    transform: rotate(-45deg)scale(1.5);
    background-image: url(img/Stressed.png);
}

#diamond ul li.item:nth-child(2) .bg {
    background-image: url(img/ThrowbackDeckblatt.jpg);
    transform: rotate(-45deg)scale(1.4);
}

#diamond ul li.item:nth-child(3) .bg {
    /* background-image: url(img/ThrowbackDeckblatt.jpg); */
    color: whitesmoke;
    display: flex;
    text-transform: uppercase;
    font-style: italic;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

#diamond ul li.item:nth-child(4) .bg {
    transform: rotate(-45deg)scale(0.7);
    background-image: url(img/zphere.png);
}

#diamond ul li.item:nth-child(5) .bg {
    background-image: url(img/Sof.PNG);
    transform: rotate(-45deg)scale(1.0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 50%;
}

#diamond ul li.item:nth-child(6) .bg {
    transform: rotate(-45deg)scale(1.5);
    background-image: url(img/CD-Cover.jpg);
}

#diamond ul li.item:nth-child(7) .bg {
    transform: rotate(-45deg)scale(1.0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-image: url(img/eatabroad.png);
}

#diamond ul li.item:nth-child(8) .bg {
    transform: rotate(-45deg)scale(0.6);
    background-image: url(img/lagomIcon.png);
}