header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 50px;
    z-index: 10000;
}

@keyframes fadeInNavi {
    /* 0% {
        transform: translateX(150px);
    } */
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    /* 0% {
        opacity: 0;
    } */
    /*
    25%{
        opacity: .25;
    }
*/
    /* 50% {
        ,
        opacity: .5;
    } */
    /*
    75%{
        opacity: 1;
    }
*/
    100% {
        opacity: 1;
    }
}

#smallLogo {
    position: absolute;
    float: left;
    color: whitesmoke;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    left: 50px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    transition: 0.5s;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    list-style: none;
    animation: fadeInNavi 0.5s linear forwards;
    opacity: 0;
}


/* nav ul li:nth-child(1) {
    animation-delay: 5s;
}
nav ul li:nth-child(2) {
    animation-delay: 5.25s;
}
nav ul li:nth-child(3) {
    animation-delay: 5.5s;
}
nav ul li:nth-child(4) {
    animation-delay: 5.75s;
}
nav ul li:nth-child(5) {
    animation-delay: 6s;
} */

nav ul li a {
    display: block;
    color: white;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

nav ul li a:hover::after,
nav ul li a:hover::before,
nav ul li a:hover {
    /* background: linear-gradient(to right, dodgerblue,firebrick); */
    background-color: dodgerblue;
    animation: neon 5s linear infinite;
}

@keyframes neon {
    0%,
    100% {
        filter: hue-rotate(0deg);
        /* filter: invert(0%); */
    }
    50% {
        filter: hue-rotate(180deg);
        /* filter: invert(100%); */
    }
}

.active {
    background-color: firebrick;
}

.black {
    background: rgba(0, 0, 0, .8);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    width: 100vw;
}

.hidden {
    display: none;
}

#menu {
    padding-top: 2.4%;
    position: absolute;
    float: right;
    color: whitesmoke;
    line-height: 50px;
    font-weight: bold;
    right: 3vw;
    cursor: pointer;
    font-size: 20px;
    display: none;
}

@media (max-width:750px) {
    header {
        padding: 0 5%;
    }
    header.black {
        left: 0;
        background: rgba(0, 0, 0, .8);
    }
    #menu {
        display: block;
    }
    nav {
        float: left;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .8);
        top: 50px;
        transition: 0.5s;
        left: 0%;
        display: none;
    }
    nav.menu {
        /* left: -100%; */
        display: block;
    }
    nav ul {
        display: block;
        text-align: right;
    }
    nav ul li {
        width: 100vw;
    }
}