body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #1C1C1C;
    /* #282a2d; */
    /* background-color: black; */
    scrollbar-width: none;
    /* overflow: hidden;
    -webkit-overflow-scrolling: auto; */
}

h1,
h2 {
    font-family: 'Bree Serif';
    /* h3,h4,h5 */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    scroll-behavior: smooth;
}


/* SCROLLBAR */

.scrollbar {
    position: fixed;
    top: 0;
    width: 10px;
    /* height: 50%; */
    /* background: linear-gradient(to top, dodgerblue,firebrick); */
}

.scrollbar::before,
.scrollbar::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top, dodgerblue,firebrick); */
    filter: blur(10px);
}

.scrollbar::after {
    filter: blur(30px);
}

@keyframes scrolleffectL {
    0%,
    100% {
        filter: hue-rotate(0deg);
        /* filter: invert(0%); */
    }
    50% {
        filter: hue-rotate(80deg);
        /* filter: invert(100%); */
    }
}

@keyframes scrolleffectR {
    0%,
    100% {
        filter: hue-rotate(0deg);
        /* filter: invert(0%); */
    }
    50% {
        filter: hue-rotate(-80deg);
        /* filter: invert(100%); */
    }
}

#leftscroll,
#leftscroll::after,
#leftscroll::before {
    left: 0;
    z-index: 100;
    background-color: dodgerblue;
    animation: scrolleffectL 5s linear infinite;
}

#rightscroll::before,
#rightscroll,
#rightscroll::after {
    right: 0;
    z-index: 100;
    background-color: firebrick;
    animation: scrolleffectR 5s linear infinite;
}


/* PROJECT  */

#projectoverview {
    display: flex;
    justify-content: center;
}

#projectoverview #diamond {
    top: 50%;
    position: relative;
    /* display: contents; */
}

a {
    text-decoration: none;
    color: white;
}

section {
    /* width: calc(100vw - 20px); */
    height: auto;
    max-width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

#top {
    height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    /* background: url(img/pier-sonnenuntergang-brucke-see.jpg); */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
    padding: 25% 0 5%;
    color: whitesmoke;
    font-size: 150%;
    text-transform: uppercase;
}

#bigLogo {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: 5px solid #fff;
    padding: .5em 3em;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(0px);
    opacity: 0;
    animation: fadeIn 3s linear forwards;
    z-index: 1;
}

#bigLogo::before,
#bigLogo::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}


/* #bigLogo::before{
    color: firebrick;
    animation: glitch 3s infinite;
    z-index: 5;
}
#bigLogo::after{
    color: dodgerblue;
    animation: glitch 2s infinite;
    z-index: 5;
}
@keyframes glitch{
    0%{
        top:-1px;
        left:-1px;
    }
    25%{
        top:1px;
        left:0px;
    }
    50%{
        top:0px;
        left:1px;
    }
    75%{
        top:1px;
        left:-1px;
    }
    100%{
        top:0px;
        left:-1px;
    }
} */

#aboutme {
    padding: 10% 15%;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    justify-content: center;
    align-content: center;
    display: grid;
}

#content {
    height: auto;
    padding: 3%;
    max-width: 1000px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

@media (max-width:800px) {
    #content {
        width: 100vw;
        box-shadow: 0 0 0 0 #fff;
        margin: auto;
    }
    body {
        overflow-x: hidden;
    }
}

@media (max-width:400px) {
    #aboutme img {
        margin: 1% 500px;
    }
    body {
        overflow-x: hidden;
    }
}

#content :before {
    border: dodgerblue 3px solid;
    animation: neon 5s linear infinite;
}

#aboutme p {
    font-size: 15pt;
    margin: 0;
    padding: 0 3%;
    word-wrap: break-word;
}

#aboutme img {
    filter: none;
    margin: 1% 3%;
    padding: 0;
    float: left;
    border-radius: 5px;
    width: 20%;
    min-width: 200px;
    height: auto;
}


/* SKILL */

#skill {
    padding: 10vh 0;
}

.caption {
    position: absolute;
    padding: 0 3.5%;
    width: 93%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, .8);
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 10pt;
}

.caption p {
    padding: 0 3%;
}

.caption:hover {
    opacity: 1;
}

.term:hover,
.term a:hover {
    background-color: dodgerblue;
    color: whitesmoke;
}

.term {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 2vh;
    padding: 1.5vh 0;
    margin: 0;
    text-align: center;
}

.projectLink {
    padding: 0;
    height: 50%;
    float: left;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3%;
    padding: 0;
    display: block;
    position: relative;
}

footer {
    height: 10vh;
}


/* ARROW */

.arrow {
    display: block;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 30px;
    height: 30px;
    margin: 15px;
}

.arrow h2 {
    margin: 0 10px;
    text-align: center;
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
}

.r {
    transform: rotate(225deg);
}

.r h2 {
    transform: rotate(-225deg);
}

.l {
    transform: rotate(45deg);
}

.l h2 {
    transform: rotate(-45deg);
}

.up {
    transform: rotate(135deg);
}

.up h2 {
    transform: rotate(-135deg);
}

.upr {
    transform: rotate(180deg);
}

.upr h2 {
    position: absolute;
    transform: rotate(180deg);
}

.upl {
    transform: rotate(90deg);
}

.upl h2 {
    transform: rotate(-90deg);
}

.down {
    transform: rotate(-45deg);
}

.down h2 {
    transform: rotate(45deg);
}

.downr {
    transform: rotate(270deg);
}

.downr h2 {
    transform: rotate(-270deg);
}

.anlagen {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid #fff; */
    position: fixed;
    top: 0%;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    /* align-items: center; */
}

.anlagen .hidePDF {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bolder;
    color: dodgerblue;
    animation: neon 5s linear infinite;
}

.anlagen iframe {
    overflow: auto;
    margin: auto;
    width: 80%;
    height: 80%;
    border: none;
}

.anlagencontent {
    margin: auto;
    width: 80%;
    min-height: 80%;
    text-align: center;
    background-color: rgba(0, 0, 35, 0.7);
    border-radius: 10px;
}

.anlagencontent a {
    text-decoration: underline;
}