#contactInfo {
    display: grid;
    justify-items: center;
    width: 98vw;
    grid-auto-flow: column;
    height: auto;
}

@media (min-width:700px) {
    #contact {
        grid-auto-flow: column;
        height: auto;
    }
}

@media (max-width:415px) {
    #contactInfo #contact {
        margin-top: 80px;
    }
    #contactInfo #contact .box .icon .fas {
        font-size: 50px;
    }
    #contactInfo #contact .box h3,
    #contactInfo #contact .box h4 {
        color: #fff;
    }
    #contactInfo #contact .box {
        text-align: center;
        width: auto;
        height: 150px;
    }
    #contactInfo {
        min-height: 100vh;
        max-height: 110vh;
    }
}

#contact {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, auto));
    color: #fff;
    margin-top: 20vh;
    grid-gap: 3%;
    justify-content: center;
    padding-bottom: 3%;
}

#contact .box:nth-child(3) {
    margin-bottom: 1%;
}

#contact .box {
    text-align: center;
    width: 255px;
    height: 240px;
}

#contact .box .icon .fas {
    font-size: 130px;
    color: #fff;
    cursor: pointer;
}

#contact .box .icon h3,
#contact .box .icon h4 {
    position: relative;
    overflow: hidden;
    padding: 2px 5px;
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    transition-delay: 0, 333s;
    color: transparent;
}

#contact .box .icon h4 {
    font-style: 30px;
    margin: 5px 0;
    font-weight: 400;
}

#contact .box .icon h3:before,
#contact .box .icon h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 150%;
    /* left: 105%; */
    width: 100%;
    height: 100%;
    background: dodgerblue;
    filter: blur(10px);
    /* filter: blur(5px); */
    transition: 1s;
}

#contact .box .icon h4:before {
    left: initial;
    /* right: 105%; */
    right: 150%;
    background: firebrick;
}

#contact .box .fas:hover~h3,
#contact .box .fas:hover~h4 {
    color: #fff
}

#contact .box .fas:hover~h3:before {
    left: -100%;
}

#contact .box .fas:hover~h4:before {
    left: initial;
    right: -100%;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

#banner {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #303e49;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#banner h1 {
    color: #ffffff;
    font-size: 18px;
    font-size: 1.125rem;
}

@media only screen and (min-width: 1170px) {
    #banner {
        height: 300px;
        line-height: 300px;
    }
    #banner h1 {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

#timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 0;
    margin-bottom: 2em;
    height: auto;
    border-top: 3px solid #fff;
}

#timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 3px;
    background: #d7e4ed;
    /* background: dodgerblue; */
}

@media only screen and (min-width: 1170px) {
    #timeline {
        margin-top: 0em;
        margin-bottom: 3em;
    }
    #timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.timeline-block {
    position: relative;
    margin: 2em 0;
}

.timeline-block::after {
    clear: both;
    content: "";
    display: table;
}

.timeline-block:first-child {
    margin-top: 0;
}

.timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .timeline-block {
        margin: 4em 0;
    }
    .timeline-block:first-child {
        margin-top: 0;
    }
    .timeline-block:last-child {
        margin-bottom: 0;
    }
}

.timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    /* border-radius: 50%; */
    box-shadow: 3px 3px 3px 3px rgba(255, 255, 255, 0.3);
    /* box-shadow: 5px #ffffff; */
}

.timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    transform: rotate(-45deg);
}

.timeline-img i {
    transform: rotate(-45deg);
    width: auto;
    height: auto;
    font-size: 35px;
}

.timeline-img.it {
    background: dodgerblue;
    z-index: 6;
    /* #0B3861 */
}

.timeline-img.design {
    background: firebrick;
    z-index: 6;
    /* #610B21 */
}

.timeline-img.mix {
    background: #6A0888;
    z-index: 6;
}

.timeline-img.neutral {
    background: grey;
    z-index: 6;
}

@media only screen and (min-width: 1170px) {
    .timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
    }
    .cssanimations .timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: bounce-1 0.6s;
        -moz-animation: bounce-1 0.6s;
        animation: bounce-1 0.6s;
    }
}

.timeline-content {
    position: relative;
    margin-left: 60px;
    border-radius: 0.25em;
    padding: 1em;
    /* box-shadow: 0 3px 0 #d7e4ed; */
    box-shadow: 0 3px 0 dodgerblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* rgba(255, 255, 255, 0.2) */
    animation: neon 5s linear infinite;
}

.timeline-content::after {
    clear: both;
    content: "";
    display: table;
}

.timeline-content h2 {
    color: #fff;
    /* dodgerblue; */
    /* #303e49; */
}

.timeline-content p,
.timeline-content .read-more,
.timeline-content .date {
    font-size: 13px;
    font-size: 0.8125rem;
}

.timeline-content .read-more,
.timeline-content .date {
    display: inline-block;
}

.timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
    text-align: justify
}

.timeline-content .read-more {
    float: right;
    padding: .8em 1em;
    background: dodgerblue;
    color: #ffffff;
    border-radius: 0.25em;
}

.no-touch .timeline-content .read-more:hover {
    background-color: #bac4cb;
}

.timeline-content .date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    z-index: 5;
    border: 7px solid transparent;
    border-right: 7px solid #ffffff;
}

@media only screen and (min-width: 768px) {
    .timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }
    .timeline-content .read-more,
    .timeline-content .date {
        font-size: 14px;
        font-size: 0.875rem;
    }
}

@media only screen and (min-width: 1170px) {
    .timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ffffff;
    }
    .timeline-content .read-more {
        float: left;
    }
    .timeline-content .date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .timeline-block:nth-child(even) .timeline-content {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ffffff;
    }
    .timeline-block:nth-child(even) .timeline-content .read-more {
        float: right;
    }
    .timeline-block:nth-child(even) .timeline-content .date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: bounce-2 0.6s;
        -moz-animation: bounce-2 0.6s;
        animation: bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
        -webkit-animation: bounce-2-inverse 0.6s;
        -moz-animation: bounce-2-inverse 0.6s;
        animation: bounce-2-inverse 0.6s;
    }
}