#skillgrid {
    display: grid;
    margin: 0 auto;
    width: 100vw;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(30%, auto));
    grid-gap: 1em;
    grid-auto-flow: dense;
    grid-template-areas: "box1 . ." "box2 box3 ." "box4 box5 ." "box6 box7 ." "box8 box9 box10";
}

#skillgrid>div {
    background: radial-gradient(32.5% 50% at 25% 0%, firebrick 0%, rgba(255, 0, 13, 0.25) 100%), linear-gradient(230deg, #000000 25%, #170059 100%), linear-gradient(215deg, #ffd5b9 10%, #19004E 80%), radial-gradient(50% 122.5% at 50% 50%, #FFFFFF 0%, #000353 100%), linear-gradient(125deg, #1403d3 0%, #3A0000 100%), linear-gradient(225deg, #0357c5 25%, #000B6F 45%, #0065fc 45%, #001676 65%, #0349cc 65%, #001676 85%, #0083fd 85%, #001676 100%), linear-gradient(135deg, #006eff 0%, #000B6F 15%, #0065fc 15%, #001676 35%, #0349cc 35%, #001676 55%, #0083fd 55%, #001676 100%);
    background-blend-mode: soft-light, screen, overlay, overlay, difference, overlay, normal;
    /* background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: overlay, hard-light, normal; */
    background-size: cover;
    background-attachment: fixed;
}

.skillbox {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    backdrop-filter: blur(3px);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    filter: grayscale(0.7);
    /* background-color: dodgerblue; */
    /* animation: neon 5s linear infinite; */
}

.skillbox img {
    filter: none;
    height: auto;
    max-height: 70px;
    /* background-color: black; */
}

.skillbox span {
    visibility: hidden;
    /* color: dodgerblue; */
    /* animation: neon 5s linear infinite; */
    z-index: 3;
    display: flex;
    font-size: 13pt;
    color: white;
    justify-content: center;
}


/* Hover */

.skillbox:hover {
    filter: grayscale(0);
    z-index: 4;
}

.skillbox:hover span {
    visibility: visible;
}


/* Placement */

.skillbox:nth-child(1) {
    grid-area: box1;
    grid-column: span 3;
    grid-row: 1;
}

.skillbox:nth-child(1) img {
    max-height: 150px;
    margin: 20px;
}

.skillbox:nth-child(2) {
    grid-area: box2;
    grid-column-start: 1;
    grid-column-end: 2.3;
    grid-row: 2;
}

.skillbox:nth-child(3) {
    grid-area: box3;
    grid-column: span 2;
    grid-row: 2;
    grid-template-columns: 85px 85px 85px 85px 85px 85px;
}

.skillbox:nth-child(4) {
    grid-area: box4;
    grid-row: 3;
    grid-column: span 2;
    grid-template-columns: 85px 85px 85px 85px 85px 85px;
}

.skillbox:nth-child(5) {
    grid-area: box5;
    grid-row: 3;
    grid-column: span 1;
}

.skillbox:nth-child(6) {
    grid-area: box6;
    grid-row: 4;
    grid-column: span 1;
}

.skillbox:nth-child(7) {
    grid-area: box7;
    grid-column: span 1;
    grid-row: 4;
}

.skillbox:nth-child(8) {
    grid-area: box8;
    grid-row: 4;
    grid-column: span 1;
}


/* .skillbox:nth-child(9) {
    grid-area: box9;
    grid-row: 5;
    grid-column: span 1.5;
}

.skillbox:nth-child(10) {
    grid-area: box10;
    grid-row: 5;
    grid-column: span 1.5;
} */


/* TABLET */

@media (max-width:900px) {
    .skillbox:nth-child(1) {
        grid-area: box1;
        grid-column: span 3;
        grid-row: 1;
    }
    .skillbox:nth-child(2) {
        grid-area: box2;
        grid-column: span 3;
        grid-row: 2;
    }
    .skillbox:nth-child(3) {
        grid-area: box3;
        grid-column: span 3;
        grid-row: 3;
        /* grid-template-columns: 85px 85px 85px 85px 85px 85px; */
    }
    .skillbox:nth-child(4) {
        grid-area: box4;
        grid-row: 4;
        grid-column: span 3;
        /* grid-template-columns: 85px 85px 85px 85px 85px 85px; */
    }
    .skillbox:nth-child(5) {
        grid-area: box5;
        grid-row: 5;
        grid-column: span 3;
    }
    .skillbox:nth-child(6) {
        grid-area: box6;
        grid-row: 6;
        grid-column: span 3;
    }
    .skillbox:nth-child(7) {
        grid-area: box7;
        grid-column: span 3;
        grid-row: 7;
    }
    .skillbox:nth-child(8) {
        grid-area: box8;
        grid-row: 8;
        grid-column: span 3;
    }
}


/* PHONE */

@media (max-width:550px) {
    .skillbox {
        height: 200px;
    }
    .skillbox img,
    .skillbox:nth-child(1) img {
        filter: none;
        height: auto;
        max-height: 90px;
    }
    .skillbox:nth-child(3) img,
    .skillbox:nth-child(4) img {
        filter: none;
        height: auto;
        max-height: 70px;
        /* background-color: black; */
    }
    .skillbox:nth-child(3) {
        grid-area: box3;
        grid-column: span 3;
        grid-row: 3;
        grid-template-columns: 85px 85px 85px;
    }
    .skillbox:nth-child(4) {
        grid-area: box4;
        grid-row: 4;
        grid-column: span 3;
        grid-template-columns: 85px 85px 85px;
    }
}