:root {
    font-family: "Montserrat-Regular", "Montserrat", system-ui, Arial, sans-serif;
    background-color: rgba(var(--v-theme-background));
    overflow-x: hidden;
}

html {
    width: 100vw;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
    // scroll-snap-type: y mandatory;
    // scroll-snap-type: y proximity;
    scroll-margin-top: 100vh;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

// .snap-stop {
//     scroll-snap-stop: always;
//     scroll-snap-align: none;
// }
// .snap {
//     scroll-snap-align: start;
// }
section {
    white-space: pre-line;
}

button {
    color: dodgerblue;
    animation: colorchange 5s linear infinite;
}

@keyframes colorchange {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(130deg);
    }
}