/*DIAMOND*/

#diamond ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 300px;
}

#diamond ul li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    margin: -100px;
    overflow: hidden;
    
    transition: .5s;
    opacity: .5;
    border: 1px gray solid;
    cursor: pointer;
}

#diamond ul li::before {
    content: '';
    position: absolute;
    padding: 10px;
    border: 10px solid transparent;
    z-index: 1;
    width: 220px;
    height: 220px;
    top: -5px;
    left: -5px;
    background-color: transparent;
}


/* HOVER */

#diamond ul li:hover:before {
    width: 170px;
    height: 170px;
    border: 10px solid dodgerblue;
    /* box-shadow: 0 0 5px dodgerblue; */
    animation: neon 5s linear infinite;
}

#diamond ul li:hover {
    opacity: 1;
}


/* PLACEMENT */

@media (min-width:870px) {
    #lastMinute {
        top: 0;
        left: 0;
    }
    #throwback {
        top: 0;
        left: 50%;
        transform: rotate(45deg);
    }
    #eshop {
        top: 0;
        background: black;
        left: 100%;
    }
    #zphere {
        bottom: 50%;
        background: black;
        left: 25%;
    }
    #survival {
        bottom: 50%;
        left: 75%;
        background: black;
    }
    #internet {
        bottom: 0;
        left: 0%;
    }
    #eatabroad {
        bottom: 0;
        left: 50%;
        background: white;
        background-color: white;
    }
    #lagom {
        bottom: 0;
        left: 100%;
        background: black;
    }
}

@media (max-width:870px) {
    #lastMinute {
        top: 0%;
        left: 25%;
    }
    #throwback {
        top: 0%;
        left: 75%;
        transform: rotate(45deg);
    }
    #eshop {
        background: black;
        top: 50%;
        left: 50%;
    }
    #survival {
        top: 100%;
        left: 75%;
        background: black;
    }
    #eatabroad {
        top: 100%;
        left: 25%;
        background: white;
        background-color: white;
    }
    #zphere {
        top: 150%;
        background: black;
        left: 50%;
    }
    #internet {
        top: 200%;
        left: 75%;
    }
    #lagom {
        top: 200%;
        left: 25%;
        background: black;
    }
}

@media (max-width:530px) {
    #diamond ul li {
        list-style: none;
        position: absolute;
        width: 160px;
        height: 160px;
        overflow: hidden;
        /* transform: rotate(45deg); */
        transition: .5s;
        opacity: .5;
        border: 1px gray solid;
        cursor: pointer;
    }
    #diamond ul li:hover:before {
        width: 130px;
        height: 130px;
        border: 10px solid dodgerblue;
        /* box-shadow: 0 0 5px dodgerblue; */
        animation: neon 5s linear infinite;
    }
    #lastMinute {
        top: 0%;
        left: 35%;
    }
    #throwback {
        top: 0%;
        left: 75%;
        transform: rotate(45deg);
    }
    #eshop {
        background: black;
        top: 40%;
        left: 55%;
    }
    #survival {
        top: 80%;
        left: 75%;
        background: black;
    }
    #eatabroad {
        top: 80%;
        left: 35%;
        background: white;
        background-color: white;
    }
    #zphere {
        top: 120%;
        background: black;
        left: 55%;
    }
    #internet {
        top: 160%;
        left: 75%;
    }
    #lagom {
        top: 160%;
        left: 35%;
        background: black;
    }
}

@media (max-width:375px) {
    #diamond ul li {
        list-style: none;
        position: absolute;
        width: 120px;
        height: 120px;
        overflow: hidden;
        /* transform: rotate(45deg); */
        transition: .5s;
        opacity: .5;
        border: 1px gray solid;
        cursor: pointer;
    }
    #diamond ul li:hover:before {
        width: 90px;
        height: 90px;
        border: 10px solid dodgerblue;
        /* box-shadow: 0 0 5px dodgerblue; */
        animation: neon 5s linear infinite;
    }
    #lastMinute {
        top: 0%;
        left: 43%;
    }
    #throwback {
        top: 0%;
        left: 73%;
        transform: rotate(45deg);
    }
    #eshop {
        background: black;
        top: 30%;
        left: 58%;
    }
    #survival {
        top: 60%;
        left: 73%;
        background: black;
    }
    #eatabroad {
        top: 60%;
        left: 43%;
        background: white;
        background-color: white;
    }
    #zphere {
        top: 90%;
        background: black;
        left: 58%;
    }
    #internet {
        top: 120%;
        left: 73%;
    }
    #lagom {
        top: 120%;
        left: 43%;
        background: black;
    }
}


/* BACKGROUND */

.bg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg)scale(1.3);
    background-size: cover;
    filter: none;
    display: flex;
}

#lastMinute .bg {
    transform: rotate(-45deg)scale(1.5);
    background-image: url(img/Stressed.png);
}

#throwback .bg {
    background-image: url(img/ThrowbackDeckblatt.jpg);
    transform: rotate(-45deg)scale(1.4);
}

#eshop .bg {
    color: whitesmoke;
    display: flex;
    text-transform: uppercase;
    font-style: italic;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

#zphere .bg {
    transform: rotate(-45deg)scale(0.7);
    background-image: url(img/zphere.png);
}

#survival .bg {
    background-image: url(img/survival.PNG);
    transform: rotate(-45deg)scale(1.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#internet .bg {
    transform: rotate(-45deg)scale(1.5);
    background-image: url(img/CD-Cover.jpg);
}

#eatabroad .bg {
    transform: rotate(-45deg)scale(1.0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-image: url(img/eatabroad.png);
}

#lagom .bg {
    transform: rotate(-45deg)scale(0.6);
    background-image: url(img/lagomIcon.png);
}